body {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: #000000
}
.imagem {
    width: 300px;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto; 
    border: 4px solid red;
}

  
h1{
    color: #ff0000;
    text-align: center;
}

h2 {
    color: #eeff00;
    text-align: center;
}

h3 {
    color: #e2caa5;
}   

h4 {
    color: #fffffc;
}

a {
    color: #b0ae1dd8;
}

.container {
    padding: 0px 100px;
}

p {
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px 530px;
}
