body {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: #000000
}
h1{
    color: #ff0000;
    text-align: center;
}

h2 {
    color: #eeff00;
    text-align: center;
}

h3 {
    color: #e2caa5;
}   

h4 {
    color: #fffffc;
}

a {
    color: #b0ae1dd8;
}

.container {
    padding: 0px 100px;
}

p {
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px 530px;
}
